<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <i class="bi bi-x-lg" (click)="closeDialog()"></i>
</div>
<form class="form-group" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="shopping-dialog modal-body">
    <div class="shopping-dialog__form col-12">
      <div class="row">
        <div class="shopping-dialog__input-wrapper col-12">
          <label class="shopping-dialog__input-lable" for="category">Category</label>
          <app-category-select (categoryChange)="onChangeCategory($event)" [selected]="categoryId.value">
          </app-category-select>
        </div>
      </div>
      <div class="row">
        <div class="shopping-dialog__input-wrapper col-12">
          <label class="shopping-dialog__input-lable" for="name">Name</label>
          <input class="shopping-dialog__input form-control" type="text" formControlName="name"
            placeholder="Enter your name" />
        </div>
      </div>
      <div class="row">
        <div class="shopping-dialog__input-wrapper col-12">
          <label class="shopping-dialog__input-lable" for="lastname">Description</label>
          <textarea name="" id="" class="shopping-dialog__input form-control" formControlName="description"
            placeholder="Enter your description"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-warning" (click)="closeDialog()">
      {{ title }}
    </button>
  </div>
</form>
