<div class="sign-up">
  <div class="container">
    <div class="sign-up__wrapper">
      <div class="sign-up__body row">
        <div class="sign-up__title col-12 mb-10">{{completeProfileVisible ? 'Complete Profile' : 'Sign up'}}</div>
        <div class="sign-up__form col-12">
          <form *ngIf="!completeProfileVisible; else completeProfileForm" class="form-group" [formGroup]="form"
            (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="sign-up__input-wrapper col-12">
                <label class="sign-up__input-lable" for="email">Email</label>
                <input class="sign-up__input form-control" type="email"
                  [class.is-invalid]="email?.invalid && email?.touched" formControlName="email"
                  placeholder="Enter your email" />
              </div>
            </div>
            <div class="row">
              <div class="sign-up__input-wrapper col-12">
                <label class="sign-up__input-lable" for="password">Password</label>
                <div class="input-group">
                  <input class="sign-up__input form-control" [type]="passwordVisible ? 'text' : 'password'"
                    formControlName="password" placeholder="Enter your password"
                    [class.is-invalid]="password?.invalid && password?.touched" />
                  <span class="input-group-text sign-up__input-icon" (click)="passwordVisible = !passwordVisible">
                    <i *ngIf="!passwordVisible; else passwordVisibleIcon" class="bi bi-eye"></i>
                    <ng-template #passwordVisibleIcon>
                      <i class="bi bi-eye-slash"></i>
                    </ng-template>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <button class="btn btn-warning" type="submit" [disabled]="(loading$ | async)">
                  <span *ngIf="(loading$ | async); else submitButtonLabel" class="spinner-grow spinner-grow-sm"
                    role="status" aria-hidden="true"></span>
                  <ng-template #submitButtonLabel>
                    Next
                  </ng-template>
                </button>
                <div class="text-center mt-3">
                  <span>Already have an account? <a [routerLink]="['/', 'sign-in']">Sign In</a></span>
                </div>
              </div>
            </div>
          </form>

          <ng-template #completeProfileForm>
            <form class="form-group" [formGroup]="form" (ngSubmit)="onCompleteProfile()">
              <div class="row">
                <div class="sign-up__input-wrapper col-12">
                  <label class="sign-up__input-lable" for="firstName">First name</label>
                  <input id="firstName" class="sign-up__input form-control"
                    [class.is-invalid]="firstName?.invalid && firstName?.touched" type="text"
                    formControlName="firstName" placeholder="Enter your First name" />
                </div>
              </div>
              <div class="row">
                <div class="sign-up__input-wrapper col-12">
                  <label class="sign-up__input-lable" for="lastName">Last name</label>
                  <input id="lastName" class="sign-up__input form-control"
                    [class.is-invalid]="lastName?.invalid && lastName?.touched" type="text"
                    formControlName="lastName" placeholder="Enter your Last name" />
                </div>
              </div>
              <div class="row">
                <div class="sign-up__input-wrapper col-12">
                  <label class="sign-up__input-lable" for="username">Username</label>
                  <input id="username" class="sign-up__input form-control"
                    [class.is-invalid]="username?.invalid && username?.touched" type="text"
                    formControlName="username" placeholder="Enter your Username" />
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <button class="btn btn-warning" type="submit" [disabled]="(loading$ | async)">
                    <span *ngIf="(loading$ | async); else submitButtonLabel" class="spinner-grow spinner-grow-sm"
                      role="status" aria-hidden="true"></span>
                    <ng-template #submitButtonLabel>
                      Complete
                    </ng-template>
                  </button>
                </div>
              </div>
            </form>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
